<p style="font-size: 30PX; font-weight: bold; color: darkgreen; 
text-align: center; margin-bottom: 0px;">Plataforma Notifier</p>

<div style="display: flex; justify-content: space-evenly; min-height: 20px;">

    <div class="botao">
      <button mat-raised-button routerLink="/notifier" 
      routerLinkActive="ativo" style="
      background-color: rgba(203, 162, 145, 1);
      width: 200px;
      padding: 10px;
      border-radius: 5px;"   
      >NOTIFICAR</button>
    </div>
  
    <div class="botao">
      <button mat-raised-button routerLink="/dashboard" 
      routerLinkActive="ativo" style="
      background-color: rgba(203, 162, 145, 1);
      width: 200px;
      padding: 10px;
      border-radius: 5px;" 
      >DASH-BOARD</button>
    </div>
  
  </div>


  
  <button [routerLink]="[{ outlets: { routerAuth: ['auth'] } }]">Navegar para Auth</button>
  <button [routerLink]="[{ outlets: { routerPainel: ['painel'] } }]">mudar conteudo dopainel</button>
  
  <button routerLink="./painel/painel.component" routerLinkActive="ativo">INICIO</button>



  <div class="telaPainel" > 
    <router-outlet name="routerPainel"></router-outlet>
  </div>
  