.telaPainel {
    border: 1px solid black;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 5px;
    padding-top: 15px;
    background-color:rgba(253, 251, 251, 1);
    overflow: auto;

}

