<p style="font-size: 30PX; font-weight: bold; color: darkgreen; 
text-align: center; margin-bottom: 0px;">Plataforma Notifier</p>

<div style="display: flex; justify-content: space-evenly; min-height: 20px;">

      
    <div class="botao">
        <button mat-raised-button (click)="navegarParaNotifier()" 
        style="
        background-color: rgba(203, 162, 145, 1);
        width: 200px;
        padding: 10px;
        border-radius: 5px;" 
        >NOTIFIER</button>
      </div>

      <div class="botao">
        <button mat-raised-button (click)="navegarParaDashboard()" 
        style="
        background-color: rgba(203, 162, 145, 1);
        width: 200px;
        padding: 10px;
        border-radius: 5px;" 
        >DASH-BOARD</button>
      </div>
      

  </div>

  <div class="telaPainel" > 
    <router-outlet></router-outlet>
  </div>
  