
<div style="display: flex; justify-content: left; height: 100%;">

    <div>
        <div>
            <text [textLabel]="titulo" (textValue)="atualizarTextoTitulo($event)"></text>
        </div>
                        
        <div>
            <text [textLabel]="detalhes" (textValue)="atualizarTextoDetalhes($event)"></text>
        </div>
                
        <div>
            <text [textLabel]="urlLink" (textValue)="atualizarTextoUrl($event)"></text>
        </div>
    </div>
    
    <div style="width:100%; height: 100%; display: flex; justify-content: center; align-items: center;">    
            <card class="cardnotificação"   
                [tituloCard]="textoTitulo"
                [detalhesCard]="textoDetalhes"
                [urlLinkCard]="textoUrl"    
            ></card>    
    </div>   

</div>